@model IEnumerable<RestaurantManagementSystem.Models.Waiter>

@{
    ViewData["Title"] = "Index";
}

<h3>Waiter's Panel</h3>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaiterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WaiterName)
            </td>
            <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.WaiterId">Edit</a> 
                    <a class="btn btn-sm btn-warning" asp-action="Details" asp-route-id="@item.WaiterId">Details</a> 
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.WaiterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
